*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Neutral-0: hsl(0, 0%, 100%);
    --Neutral-300: hsl(252, 6%, 83%);
    --Neutral-500: hsl(245, 15%, 58%);;
    --Neutral-700: hsl(245, 19%, 35%);
    --Neutral-900: hsl(248, 70%, 10%);

    --Orange-500: hsl(7, 88%, 67%);
    --Orange-700: hsl(7, 71%, 60%);

    --Gradient-text: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);
}

body{
    background-color: var(--Neutral-900);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

#hero{
    text-align: center;
}

#hero h1{
    color: var(--Neutral-0);
}

